<div style="margin-left: 200px; margin-right: 200px">
  <div class="indexNav">
    <ul class="nav justify-content-end">
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/customer/">Home</a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log_Out</a>
      </li>
    </ul>
  </div>
</div>

<div style="margin-left: 200px; margin-right: 200px; font-size: 13px">
  <label class="heading">Delivery Order History</label>
  <div class="form-group">
    <fieldset>
      <form action="" class="form-group" method="post">


        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              {{!-- <th scope="col" data-sortable="true">ID#</th> --}}
              <th scope="col">B/L</th>
              <th scope="col">Terminal_Name</th>
              <th scope="col">Container_No.</th>
              <th scope="col">Vassel_No.</th>
              <th scope="col">ETA</th>
              <th scope="col">Weight_(kg)</th>
              <th scope="col">Seal_No.</th>
              <th scope="col">Delivery_Location</th>
              <th scope="col">Status</th>
              <th scope="col">Return</th>

            </tr>
          </thead>

          <tbody>
            {{#each deliveryOrder}}
            <tr style="text-transform: uppercase">
              {{!-- <td>{{this.id}}</td> --}}
              <td>{{this.BL}}</td>
              <td>{{this.Terminal_Name}}</td>
              <td>{{this.Container_No}}</td>
              <td>{{this.Vassel_No}}</td>
              <td>{{this.ETA}}</td>
              <td>{{this.Weight}}</td>
              <td>{{this.Seal_No}}</td>
              <td>{{this.Delivery_Location}}</td>
              <td>{{this.Status_}}</td>
              <td>{{this.Return_}}</td>

            </tr>
            {{/each}}
          </tbody>

        </table>


      </form>
      <!--END OF FORM ^^-->
    </fieldset>
  </div>
  <hr />

</div>





<script type="text/javascript">

  $(document).ready(function () {
    $('#example').DataTable();
  });


</script>